* {
  font-family: "Inter Variable", FontAwesome, "JetBrainsMonoNL Nerd Font", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

window#waybar {
  background: rgba(40, 40, 40, 1);
  /* border: 1px solid #8d7f71; */
  /* border-radius: 8px; */
  /* background-color: #ff0000; */
}

button {
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
  border: none;
}

#workspaces {
  background: none;
}

#workspaces button {
  padding: 2px 2px;
  color: #E0E0E0;
}

#workspaces button.empty {
  color: #414868;
}

#workspaces button.urgent {
  color: #f7768e;
}

#workspaces button.focused {
  color: #d79921;
}

#workspaces button.active {
  color: #d79921;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#bluetooth,
#window,
#custom-notification,
#mpd {
  padding-left: 2px;
  padding-right: 2px;
  color: #E0E0E0;
  background-color: #1a1b26;
  background: none;
}

#custom-separator {
  color: #665c54;
  padding-left: 2px;
  padding-right: 2px;

}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 4px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > * {
  margin-right: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f7768e;
}

